{% extends "layout.html" %}

{% block title %}
Lisää uusi lukuvinkki
{% endblock %}

{% block body %}
{% if session.user_id %}
<h1>Lisää uusi vinkki</h1>
<form action="/add_tip" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
        <label for="title">Lukuvinkin otsikko</label>
        <input type="text" name="title" id="title" /> *
    </div>
    
    <div>
        <label for="author">Lukuvinkin kirjoittaja</label>
        <input type="text" name="author" id="author" />
    </div>
  
    <div>
        <label for="url">Lukuvinkin url-osoite</label>
        <input type="url" name="url" id="url" />
    </div>
  
    <div>
        <label for="description">Lukuvinkin kuvaus</label>
        <input type="text" name="description" id="description" />
    </div>
  
    <button>
        Lisää uusi vinkki
    </button>
</form>
<br>
<br>
<h3>Tai lisää kirjavinkki ISBN-numeron avulla</h3>
<form action="/add_isbn_tip" method="POST">
    <div>
        <label for="isbn_number">Lukuvinkin ISBN-numero</label>
        <input type="text" name="isbn_number" id="isbn_number" /> *
      </div>
    <div>
        <label for="isbn_description">Lukuvinkin kuvaus</label>
        <input type="text" name="isbn_description" id="isbn_description" />
    </div>
    <button>
        Lisää ISBN-vinkki
    </button>
</form>
<br>
Pakollinen tieto *
<br>
{% else %}
Kirjaudu ensin sisään
{% endif %}
{% endblock %}