{% extends "layout.html" %}

{% block title %}
Lukuvinkkikirjasto
{% endblock %}

{% block body %}
<h1>Lukuvinkkikirjasto</h1>

<ul>
    <li><a href="/register">Rekisteröidy</a></li>
    <li><a href="/add_tip">Lisää uusi vinkki</a></li>
    <li><a href="/login">Kirjaudu</a></li>
</ul>

<h2>Lisätyt lukuvinkit</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% if tips %}
<form action="/" method="POST">
<ul>
    {% for tip in tips %}
    <li><b>{{ tip.title }}</b>, {{ tip.description }}, {{ tip.url }}
        <button type="submit" name="delete" value="{{ tip.id }}">Poista</button>
    </li>
    {% endfor %}
</ul>
</form>
{% else %}
<ul>
    Ei vielä lisättyjä lukuvinkkejä
</ul>
{% endif %}

{% endblock %}
