{% extends "layout.html" %}

{% block title %}
Lukuvinkkikirjasto
{% endblock %}

{% block body %}
<h1>Lukuvinkkikirjasto</h1>

<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      {% if session.user_id %}
      <li class="nav-item">
        <a class="nav-link" href="/add_tip">Lisää uusi vinkki</a>
      </li>
      {% else %}
      <li class="nav-item">
        <span class="navbar-text">Kirjaudu sisään tai registeröidy lisääkseen uuden vinkin</span>
      </li>
      {% endif %}
    </ul>
</nav>

<h2>Lisätyt lukuvinkit</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/search" method="GET">
  <input type="text" name="search" id="search">
  <input type="submit" value="Etsi">
</form>
<br>

{% if tips %}
<form action="/" method="POST">
<ul>
    {% for tip in tips %}
      <li>
        {% if tip.url %}
        <a href="{{ tip.url }}" target=”_blank”>{{ tip.title }}</a>, {{ tip.author }}, {{ tip.description }}
        {% else %}
        <b>{{ tip.title }}</b>, {{ tip.author }}, {{ tip.description }}
        {% endif %}
        {% if tip.user_id == session.user_id%}
        <button type="submit" name="delete" value="{{ tip.id }}">Poista</button>
        {% endif %}
      </li>
    {% endfor %}
</ul>
</form>
{% else %}
<ul>
    Ei vielä lisättyjä lukuvinkkejä
</ul>
{% endif %}

{% endblock %}
